
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/WBH.cshtml";
}
<section>
    <div class="container">
        <div class="producy">
            <div class="product-list">
                <div class="product-grid">
                    <div class="product-card">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Img/AoPolo/Áo_Polo1.jpg" alt="Áo Polo Nam">
                            </a>
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a class="ri-eye-fill" href="#"></a>
                                <a class="ri-shopping-cart-2-fill" href="#"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="prices">
                                
                            </div>
                            <h3>Áo Polo</h3>
                            <p class="price">179,000đ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>