
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/WBH.cshtml";
}
<div class="thankyou-page text-center">
    <img src="~/Content/Img/success.jpg" width="200" alt="Success" />
    <h2>Cảm ơn bạn đã đặt hàng!</h2>
    <p>Đơn hàng của bạn đang được xử lý. Chúng tôi sẽ liên hệ sớm nhất.</p>
    <a href="@Url.Action("ProductList", "Products")" class="btn btn-primary mt-3">Tiếp tục mua sắm</a>
</div>