<!DOCTYPE html>

<html>
<head lang="vi">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>3AESTORE</title>
    <link href="~/Content/WBH.css" rel="stylesheet" />
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <div class="row">
                <!-- logo -->
                <div class="header-logo">
                    <img src="" alt="" />
                </div>
                <!-- bảng sản phẩm -->
                <div class="header-nav">
                    <nav>
                        <ul>
                            <li><a href="Sanpham">Trang Chủ</a></li>
                            <li><a href="Sanpham">Sản Phẩm</a></li>
                            <li><a href="">Sale</a></li>
                            <li><a href="">Phụ Kiện</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- thanh tìm kiếm -->
                <div class="header-search">

                </div>
                <!--giỏ hàng -->
                <div class="header-cart">

                </div>
            </div>
        </div>


    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
