
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/WBH.cshtml";
}
<main>
    <section class="slides">
        <img src="~/Img/BannerHome.png" alt="Banner quảng cáo" class="slide" style="width: 100%;" />
        <img src="~/Img/BannerHome1.png" alt="Banner quảng cáo" class="slide" style="width: 100%;" />
    </section>

    <section class="sale-products">
        <div class="container">
            <h1>
            </h1>
        </div>
    </section>
    <section class="section-home">
        <div class="container">
            <h1>Tất cả sản phẩm</h1>
            <div class="sortby">
                <label for="SortBy">Sắp xếp:</label>
                <select>
                    <option>Sản phẩm nổi bật</option>
                    <option>Giá: Tăng dần</option>
                    <option>Giá: Giảm dần</option>
                    <option>Bán chạy nhất</option>
                </select>
            </div>
            <div class="product">
                <div class="product-list">
                    <div class="product-grid">
                        <div class="product-card" data-category="ao">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/AoPolo/Áo_Polo1.jpg" alt="Áo Polo Nam">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a href="" class="ri-eye-fill"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Áo Polo</h3>
                                <p class="product-price">180,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="quan">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/QuanJean/Jean.jpg" alt="Quan Jean Xanh">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a href="" class="ri-eye-fill"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Quần Jean Xanh</h3>
                                <p class="product-price">350,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="ao">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/Aosomi/Ao_SomiTN.jpg" alt="Áo Sơmi Nam Tay Ngắn">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a href="" class="ri-eye-fill"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Áo Sơmi Tay Ngắn</h3>
                                <p class="product-price">210,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="ao">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/AoThun/Áo_Thun.jpg" alt="Áo Thun Nam">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a href="" class="ri-eye-fill"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Áo Thun Nam</h3>
                                <p class="product-price">150,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="ao">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/Aosomi/Ao_SomiXTD.jpg" alt="Áo Sơmi Xanh Tay Dài">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a href="" class="ri-eye-fill"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Áo Sơmi Xanh Tay Dài</h3>
                                <p class="product-price">220,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="quan">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/QuanJean/JeanR.jpg" alt="Quan Jean Ong Rong">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a href="" class="ri-eye-fill"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Quần Jean Nam Ống Rộng</h3>
                                <p class="product-price">250,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="quan">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/QuanJean/JeanHH.jpg" alt="Quan Jean HipHop">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a href="" class="ri-eye-fill"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Quần Jean Nam HipHop</h3>
                                <p class="product-price">250,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="non">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/Non/NonT.jpg" alt="Nón">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a class="ri-eye-fill" href="#"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Nón Trắng</h3>
                                <p class="product-price">209,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="vo">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/Vo/VoT.jpg" alt="Vớ Trắng">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a class="ri-eye-fill" href="#"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Vớ Trắng</h3>
                                <p class="product-price">20,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="trangsuc">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/TrangSuc/VongTay1.jpg" alt="Vòng Tay">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a class="ri-eye-fill" href="#"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Vong Tay Bạc</h3>
                                <p class="product-price">349,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="trangsuc">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/TrangSuc/VongTay2.jpg" alt="Vòng Tay">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a class="ri-eye-fill" href="#"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Vong Tay Bạc</h3>
                                <p class="product-price">349,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="trangsuc">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/TrangSuc/VongTay3.jpg" alt="Vòng Tay">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a class="ri-eye-fill" href="#"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Vong Tay Bạc</h3>
                                <p class="product-price">349,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="trangsuc">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/TrangSuc/VongTay4.jpg" alt="Vòng Tay">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a class="ri-eye-fill" href="#"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Vong Tay Bạc</h3>
                                <p class="product-price">349,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="trangsuc">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/TrangSuc/VongTay5.jpg" alt="Vòng Tay">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a class="ri-eye-fill" href="#"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Vong Tay Bạc</h3>
                                <p class="product-price">349,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="trangsuc">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/TrangSuc/VongTay6.jpg" alt="Vòng Tay">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a class="ri-eye-fill" href="#"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Vong Tay Bạc</h3>
                                <p class="product-price">349,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="trangsuc">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/TrangSuc/VongTay7.jpg" alt="Vòng Tay">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a class="ri-eye-fill" href="#"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Vong Tay Bạc</h3>
                                <p class="product-price">349,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="trangsuc">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/TrangSuc/VongTay8.jpg" alt="Vòng Tay">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a class="ri-eye-fill" href="#"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Vong Tay Bạc</h3>
                                <p class="product-price">349,000đ</p>
                            </div>
                        </div>
                        <div class="product-card" data-category="trangsuc">
                            <div class="product-image">
                                <a href="#">
                                    <img src="~/Img/TrangSuc/VongTay9.jpg" alt="Vòng Tay">
                                </a>
                                <span class="badge">Hàng Mới</span>
                                <div class="product-actions">
                                    <a class="ri-eye-fill" href="#"></a>
                                    <button class="add-to-cart">
                                        <i class="ri-shopping-cart-2-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">Vong Tay Bạc</h3>
                                <p class="product-price">349,000đ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
