
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/WBH.cshtml";
}
<style>
    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    form {
        text-align: center;
    }
</style>
<div class="container">
    <h2>ĐĂNG NHẬP TÀI KHOẢN</h2>
    <div>
        <form>
            <div>
                <div>
                    <input class="" type="text" id="username" placeholder="Số điện thoạigit /Email/Tên đăng nhập" autocomplete="on" name="loginkey" maxlength="128"/>
                </div>

            </div>
            <div>
                <div>
                    <input class="" type="password" id="password" placeholder="Mật khẩu" autocomplete="current-password" name="password" maxlength="16"/>
                </div>
            </div>
            <button>Đăng nhập</button>
        </form>
    </div>
</div>


