
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/WBH.cshtml";
}
<section>
    <div class="container">
        <div class="producy">
            <div class="product-list">
                <div class="product-grid">
                    <div class="product-card">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Content/Img/AoThun/Ao_ThunĐ.jpg" alt="Áo Thun Nam">
                            </a>
                            <span class="product-sale">Sale</span>
                            <div class="product-actions">
                                <a class="ri-eye-fill" href="#"></a>
                                <a class="ri-shopping-cart-2-fill" href="#"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3>Áo Thun Nam Đỏ</h3>
                            <div class="prices">
                                <span class="new-price">90,000đ</span>
                                <span class="old-price">180,000đ</span>
                                <span class="sale-badge">-50%</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Content/Img/QuanJean/JeanX.jpg" alt="Quần Jean Ống Suông">
                            </a>
                            <span class="product-sale">Sale</span>
                            <div class="product-actions">
                                <a class="ri-eye-fill" href="#"></a>
                                <a class="ri-shopping-cart-2-fill" href="#"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3>Quần Jean Ống Suông Nam</h3>
                            <div class="prices">
                                <span class="new-price">175,000đ</span>
                                <span class="old-price">350,000đ</span>
                                <span class="sale-badge">-50%</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Content/Img/QuanJean/JeanHH.jpg" alt="Quần Jean Hip Hop">
                            </a>
                            <span class="product-sale">Sale</span>
                            <div class="product-actions">
                                <a class="ri-eye-fill" href="#"></a>
                                <a class="ri-shopping-cart-2-fill" href="#"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3>Quần Jean Hip Hop Nam</h3>
                            <div class="prices">
                                <span class="new-price">150,000đ</span>
                                <span class="old-price">300,000đ</span>
                                <span class="sale-badge">-50%</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Content/Img/Aosomi/Ao_SomiXTD.jpg" alt="Áo Sơmi Xanh Tay Dài">
                            </a>
                            <span class="product-sale">Sale</span>
                            <div class="product-actions">
                                <a class="ri-eye-fill" href="#"></a>
                                <a class="ri-shopping-cart-2-fill" href="#"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3>Áo Sơmi Nam Xanh Tay Dài</h3>
                            <div class="prices">
                                <span class="new-price">90,000đ</span>
                                <span class="old-price">180,000đ</span>
                                <span class="sale-badge">-50%</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Content/Img/Aosomi/Ao_SomiXTN.jpg" alt="Áo Sơmi Xanh Tay Ngắn">
                            </a>
                            <span class="product-sale">Sale</span>
                            <div class="product-actions">
                                <a class="ri-eye-fill" href="#"></a>
                                <a class="ri-shopping-cart-2-fill" href="#"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3>Áo Sơmi Nam Xanh Tay Ngắn</h3>
                            <div class="prices">
                                <span class="new-price">75,000đ</span>
                                <span class="old-price">150,000đ</span>
                                <span class="sale-badge">-50%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>