
@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/WBH.cshtml";
}
<section>
    <div class="container">
        <div class="product">
            <div class="product-list">
                <div class="product-grid">
                    <div class="product-card">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Img/AoPolo/Áo_Polo1.jpg" alt="Áo Polo Nam">
                            </a>              
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a class="ri-eye-fill" href="#"></a>
                                <a class="ri-shopping-cart-2-fill" href="#"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3>Áo Polo</h3>
                            <p class="price">179,000đ</p>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Img/Aosomi/Ao_SomiTN.jpg" alt="Áo Sơmi Tay Ngắn">
                            </a>                     
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a class="ri-eye-fill" href="#"></a>
                                <a class="ri-shopping-cart-2-fill" href="#"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3>Áo Sơmi Tay Ngắn</h3>
                            <p class="price">259,000đ</p>
                        </div>
                    </div>
                    <div class="product-card">              
                        <div class="product-image">
                            <a href="#">
                            <img src="~/Img/Aosomi/Áo_SơmiT.jpg" alt="Áo Sơmi">
                            </a>
                            <img src="~/Img/Aosomi/Áo_SơmiT.jpg" alt="Áo Sơmi">
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a class="ri-eye-fill" href="#"></a>
                                <a class="ri-shopping-cart-2-fill" href="#"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3>Áo Sơmi</h3>
                            <p class="price">209,000đ</p>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Img/AoThun/Áo_Thun.jpg" alt="Áo Thun">
                            </a>                           
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a class="ri-eye-fill" href="#"></a>
                                <a class="ri-shopping-cart-2-fill" href="#"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3>Áo Thun</h3>
                            <p class="price">159,000đ</p>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Img/QuanJean/Jean.jpg" alt="Quần Jean">
                            </a>
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a class="ri-eye-fill" href="#"></a>
                                <a class="ri-shopping-cart-2-fill" href="#"></a>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3>Quần Jean</h3>
                            <p class="price">359,000đ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>