
@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/WBH.cshtml";
}
<section>
    <div class="container">
        <img src="~/Img/BannerSanPham.png" style="width: 100%;" alt="Banner Sản Phẩm" />
        <div class="product">
            <div class="product-list" id="product-list">
                <div class="product-grid">
                    <div class="product-card" data-category="ao">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Img/AoPolo/Áo_Polo1.jpg" alt="Áo Polo Nam">
                            </a>
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a href="" class="ri-eye-fill"></a>
                                <button class="add-to-cart">
                                    <i class="ri-shopping-cart-2-fill"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-name">Áo Polo</h3>
                            <p class="product-price">180,000đ</p>
                        </div>
                    </div>
                    <div class="product-card" data-category="quan">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Img/QuanJean/Jean.jpg" alt="Quan Jean Xanh">
                            </a>
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a href="" class="ri-eye-fill"></a>
                                <button class="add-to-cart">
                                    <i class="ri-shopping-cart-2-fill"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-name">Quần Jean Xanh</h3>
                            <p class="product-price">350,000đ</p>
                        </div>
                    </div>
                    <div class="product-card" data-category="ao">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Img/Aosomi/Ao_SomiTN.jpg" alt="Áo Sơmi Nam Tay Ngắn">
                            </a>
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a href="" class="ri-eye-fill"></a>
                                <button class="add-to-cart">
                                    <i class="ri-shopping-cart-2-fill"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-name">Áo Sơmi Tay Ngắn</h3>
                            <p class="product-price">210,000đ</p>
                        </div>
                    </div>
                    <div class="product-card" data-category="ao">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Img/AoThun/Áo_Thun.jpg" alt="Áo Thun Nam">
                            </a>
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a href="" class="ri-eye-fill"></a>
                                <button class="add-to-cart">
                                    <i class="ri-shopping-cart-2-fill"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-name">Áo Thun Nam</h3>
                            <p class="product-price">150,000đ</p>
                        </div>
                    </div>
                    <div class="product-card" data-category="ao">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Img/Aosomi/Ao_SomiXTD.jpg" alt="Áo Sơmi Xanh Tay Dài">
                            </a>
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a href="" class="ri-eye-fill"></a>
                                <button class="add-to-cart">
                                    <i class="ri-shopping-cart-2-fill"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-name">Áo Sơmi Xanh Tay Dài</h3>
                            <p class="product-price">220,000đ</p>
                        </div>
                    </div>
                    <div class="product-card" data-category="quan">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Img/QuanJean/JeanR.jpg" alt="Quan Jean Ong Rong">
                            </a>
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a href="" class="ri-eye-fill"></a>
                                <button class="add-to-cart">
                                    <i class="ri-shopping-cart-2-fill"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-name">Quần Jean Nam Ống Rộng</h3>
                            <p class="product-price">250,000đ</p>
                        </div>
                    </div>
                    <div class="product-card" data-category="quan">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Img/QuanJean/JeanHH.jpg" alt="Quan Jean HipHop">
                            </a>
                            <span class="badge">Hàng Mới</span>
                            <div class="product-actions">
                                <a href="" class="ri-eye-fill"></a>
                                <button class="add-to-cart">
                                    <i class="ri-shopping-cart-2-fill"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-info">
                            <h3 class="product-name">Quần Jean Nam HipHop</h3>
                            <p class="product-price">250,000đ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>